<a href="{{ path('addClassroom') }}">Add Classroom</a>


<table border="1">
{% for e in classrooms %}
<tr>

<td>{{e.id}} </td>
<td>{{e.name}}</td>
<td><a href="{{path('delete_classroom',{'id':e.id})}}">delete </a>
                <a href="{{ path('updateClassroom',{'id':e.id}) }}">Update</a>

</td>

</tr>

{%endfor%}
</table>